<h2><%= @tab.title %></h2>
<h3><%= @tab.artist.name %></h3>
<span id='submitter'>Last update by <%= @tab.user.name %></span>
<p>Album: <%= @tab.album.name if @tab.album %></p>
<p><%= @tab.tuning.display %></p>
<p><%= @tab.notes %></p>
<span class="tab_body"><%= @tab.body %></span>

<div class="comments">
  <h4>Comments</h4>

  <table class="table table-striped">
    <% @comments.each do |comment| %>
      <% next if comment.comment == nil %>
      <tr>
        <td> <%= comment.comment %></td>
        <td> <%=comment.user.name if comment.user %> </td>
        <td> <%=comment.created_at.strftime("%B %d %I:%M %p") if comment.created_at %></td>
        <% if current_user && (current_user.has_role?(:comments, :destroy) || comment.user == current_user) %>
          <td>
          <%= link_to [@tab, comment],
              method: :delete,
              data: { confirm: "Are you sure you want to delete this comment?"
                    }, class: 'btn btn-danger btn-mini'  do %>
            <i class="icon-remove"></i>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% if current_user && current_user.has_role?(:comments, :new) %>
  <%= simple_form_for [@tab, @comment] do |f| %>
    <%= f.input :comment, input_html: { rows: 5, class: 'wide_text_area' }%>
    <%= f.button :submit, "Add Comment", class: 'btn-primary' %>
  <% end %>
<% end %>
