<h2><%= @tab.title %></h2>
<h3><%= @tab.artist.name %></h3>
<span id='submitter'>Last update by <%= @tab.user.name %></span>
<p>Album: <%= @tab.album.name %></p>
<p><%= @tab.tuning.display %></p>
<p><%= @tab.notes %></p>
<span class="tab_body"><%= @tab.body %></span>

<div class="comments">
  <h4>Comments</h4>

  <table class="table table-striped">
    <% @comments.each do |comment| %>
      <tr>
        <td> <%= comment.comment %></td>
        <td> <%=comment.user.name if comment.user %> </td>
        <td> <%=comment.created_at.strftime("%B %d %I:%M %p") if comment.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>

<% if current_user && current_user.has_role?(:comments, :new) %>
  <%= simple_form_for [@tab, @comment] do |f| %>
    <%= f.input :comment, input_html: { rows: 5, class: 'wide_text_area' }%>
    <%= f.button :submit, "Add Comment", class: 'btn-primary' %>
  <% end %>
<% end %>
